.col-3{

  height: 400px;
  text-align: justify;
  font-size:120%;
  margin-top: 40px;
  margin-right: 40px;
  width: 300px;
  justify-content:  space-evenly;
  display: flex;
  flex-wrap: wrap;
  gap: 3.5m;


}


#a{
    
    background-color: skyblue;
   
    
  }

  #b{
    
    background-color: rgb(233, 235, 135);
    
    
  }


  #c{
    
    background-color: rgb(235, 135, 213);
    
  
  }

