<div class="container">
    <div class="row">
     
      <div class="col-3" id="a"><b>MISION</b><br><p>Amelie S.A se encarga de la elaboración y comercialización de prendas de vestir
        infantiles, logrando la satisfacción total de nuestros clientes respecto a nuestros
        productos, conjuntamente impulsando el bienestar y progreso de nuestro equipo
        humano.
        </div>
      <div class="col-3" id="b"><b>VISION</b><br><p>En el año 2020 Amelie S.A Estará posicionada en el mercado nacional con
        variedad de productos de excelente calidad, y contando con puntos propios de
        distribución a nivel nacional.</p></div>
      <div class="col-3" id="c"><b> RAZON SOCIAL</b><br><p>La gerencia de la empresa Amelie S.A, estará a cargo de Andrés Fernando Arias,
        identificado con C.C 1015440157, estudiante de último semestre de ingeniería industrial
        de la Universidad de los Andes.</p></div>
    </div>
  </div>