<div class= "flex-container">
    <div class="row" >
        <div class="col-auto px-0 ">
            <div id="sidebar" class="collapse collapse-horizontal show border-end">
                <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100" >
                    <a href="/not" class="list-group-item border-end-0 d-inline-block text-truncate bg-primary" data-bs-parent="#sidebar"><span>NOTICIAS DEL DIA</span> </a>
                    <a href="/cli" class="list-group-item border-end-0 d-inline-block text-truncate bg-primary" data-bs-parent="#sidebar"><span>CLIMA</span></a>
                    <a href="/mun" class="list-group-item border-end-0 d-inline-block text-truncate bg-primary" data-bs-parent="#sidebar"><span>MUNDIAL QATAR</span></a>                    
                </div>
            </div>
        </div>
    </div>
</div>    
