<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card1">
        
        <div class="card-body">
          <h5 class="card-title">VENTA DE ROPA</h5>
          <p class="card-text">Nuestra empresa reliza el servicio de venta de ropa al por mayor donde estan incluidas camisas
            pantalones, vestidos , blusas, chaquetas y demas prendas de vestir.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card2">
        
        <div class="card-body">
          <h5 class="card-title">VENTA DE BOLSOS</h5>
          <p class="card-text">Nuestra empresa tambien comerciliza bolsos para dama y caballero
            elaborados tanto en cuero como en fibras naturales y artificiales dependiendo del gustos 
            de los clientes
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card3">
        
        <div class="card-body">
          <h5 class="card-title">VENTA DE SOMBREROS</h5>
          <p class="card-text">Somos vendedores de sombreros tanto tipicos del pais como extrangeros,
            tambien vendemos sombreros del estilo clasico  para satisfacer el gusto de nuestros clientes
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card4">
        
        <div class="card-body">
          <h5 class="card-title">TELAS POR MAYOR</h5>
          <p class="card-text">somos  una empresa mayorista a nivel de telas  producidas completamente en nuestra sede en el producidas
            en nuestra sede en el pais con los mas rigurosos estandares de calidad
          </p>
        </div>
      </div>
    </div>
  </div>