<div class="list-group">
    
    <a href="https://cnnespanol.cnn.com/" class="list-group-item list-group-item-action" id="l1">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">NOTICIAS EN ESPAÑOL CNN</h5>        
        </div>
        <p class="mb-1">Es el medio de comunicacionmas prestigioso en habla inglesa</p>
        <small></small>
      </a>

    <a href="https://www.washingtonpost.com/" class="list-group-item list-group-item-action" id="l2">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">NOTICIAS EN INGLES THE WHASHINGTON POST </h5>        
      </div>
      <p class="mb-1">Es el medio de comunicacionmas prestigioso en habla inglesa</p>
      <small></small>
    </a>

    <a href="https://www.aljazeera.com/" class="list-group-item list-group-item-action" id="l3">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">NOTICIAS ARABES ALJAZIRA</h5>        
      </div>
      <p class="mb-1">Principal medio de comunicacion del mundo arabe</p>
      <small></small>
    </a>
  </div>
