.slide{
    margin-top: 60px;  
    margin-left: 200px; 
    height: 300px;
    width: 800px; 
 
   
   }

   .d-block{
    height: 400px;
    width: 800px; 
    display: flex;    
    flex-wrap: wrap;

    
   }

   .carousel-inner{

    display: flex;
    flex-wrap: wrap;

   }


   