.slide{
    margin-top: 60px;  
    margin-left: 200px; 
   
   }
   
.slide{   
     height: 300px;
     width: 800px; 
       
   
   }

   .d-block{
    height: 400px;
    width: 800px; 
    
   }

   .carousel-inner{

    display: flex;
    flex-wrap: wrap;

   }


   